.Item {
  display: flex;
  align-items: center;
  /* border: 1px solid #f0f0f3; */
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  min-width: 200px;
  max-width: 280px;
  overflow: hidden;
}

.Item-compact {
  cursor: pointer;
  align-items: center;
}

.Item:hover {
    background-color: #f3f3fa;
}

.Item-avatar {
  margin-right: 12px;
  min-width: 40px;
  object-fit: cover;
}

.Item-subtext {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
