.BigNumber {
    /* margin: 16px; */
    font-size: 1.5rem;
    font-weight: 600;
    color: #007bff;
    line-height: 1;
}

.BigNumber.in-dashboard {
    color: #007bff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.color-1 {
    background: linear-gradient( 90deg, var(--primary-color) 0%, var(--accent-color) 170% );
    color: white;
}

.white {
    color: white;
}