.Form {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.Form-control {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SectionSeparator {
  width: 100%;
  height: 16px;
}

.Input {
  display: flex;
  flex-direction: column;
}

.Form .Input {
  margin-bottom: 8px;
  margin-right: 16px;
  width: calc(100% / 3 - 16px);
}

.Input.textarea {
  width: 100%;
}

.Input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.Input-container select {
  padding: 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  border-color: silver;
  appearance: none;
  padding: 8px;
  background-color: white;
  flex: 1;
}

.InputIcon {
  position: absolute;
  right: 8px;
  color: gray;
}
