.Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  overflow: auto;
}

.Form-control {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SectionSeparator {
  width: 100%;
  height: 32px;
  /* border-top: 1px solid #eee; */
  margin-top: 4px;
}

.lists {
  position: absolute;
  width: 100%;
  max-height: 100px;
  top: 100%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
  border-radius: 5px;
}

.lists ul {
  padding: 0;
  margin: 0;
}

.lists ul li {
  padding: 8px 12px;
  list-style: none;
  cursor: pointer;
}

.lists ul li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.Form .Input {
  margin-bottom: 32px;
  margin-right: 8px;
  margin-left: 8px;
  /* min-width: calc(100% / 2 - 16px); */
  /* max-width: calc(100% / 2 - 16px); */
  position: relative;
}

.Form input {
  padding: 12px;
}

.Input {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.Input-container {
  position: relative;
  display: flex;
  /* align-items: center; */
}

.Input-container select {
  width: 100%;
  padding: 12px;
  margin-top: 3px;
  padding-right: 24px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
  border-color: silver;
  appearance: none;
  background-color: white;
  flex: 1;
}

.InputIcon {
  position: absolute;
  right: 8px;
  top: 14px;
  color: gray;
  margin-left: 16px;
}

.Input-label {
  font-weight: bold;
}

.Input-prefix,
.Input-suffix {
  border-radius: 4px 0px 0px 4px;
  border-top: 0.5px;
  border-bottom: 0.5px;
  border-right: 0.5px;
  border-left: 0.5px;
  border-color: silver;
  border-style: solid;
  padding: 12px;
  background-color: #f3f3fa;
}

.Input-prefix {
  border-right: 0px;
}

.Input-suffix {
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
}

.Input-options {
  background-color: white;
  border: 1px solid silver;
  border-radius: 4px;
  position: absolute;
  max-width: 600px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
  z-index: 2;
  max-height: 320px;
  overflow: auto;
}

.Input-optionItem {
  padding: 4px;
  cursor: pointer;
}

.Input-optionItem:hover {
  background-color: dodgerblue;
  color: white;
}

.Input-error {
  color: crimson;
  margin-top: 4px;
  align-items: center;
  display: flex;
}

.error {
  border-color: crimson;
}

.MultiSelect {
  padding: 8px;
  padding-left: 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
  border-color: silver;
  display: flex;
  flex-wrap: wrap;
}

.MultiSelectItem {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 4px;
  /* background-color: var(--primary-color); */
  border: 1px solid var(--primary-color);
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
}

.MultiSelectItem svg {
  color: black;
  cursor: pointer;
  margin-left: 5px;
}

.MultiSelectItem-delete {
  /* margin-left: 4px; */
  cursor: pointer;
}

.EditorContainer {
  width: 100%;
  margin: 8px;
}

.Editor {
  padding: 8px;
  padding-left: 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0.5px;
  border-color: silver;
  /* display: flex; */
  width: 100%;
  /* height: 400px; */
  /* overflow: scroll; */
}

.EditorWrapper {
  height: 400px;
}

.Radio {
  margin-top: 8px;
}

.MultiSelectDropDown {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  list-style: none;
  background-color: #fff;
  overflow: auto;
  max-height: 250px;
  border-width: 0px;
  border-style: solid;
  border-color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.MultiSelectDropDown li {
  padding: 12px 12px;
  display: flex;
}

.MultiSelectDropDown li span {
  flex-grow: 1;
}

.MultiSelectDropDown li svg {
  color: transparent;
}

.MultiSelectDropDown li[aria-selected="true"] {
  background-color: #fafafa;
  font-weight: 600;
}

.MultiSelectDropDown li[aria-selected="true"] svg {
  color: var(--color-primary);
}

.MultiSelectDropDown li[data-focus="true"] {
  background-color: #e6f7ff;
  cursor: pointer;
}

.MultiSelectDropDown li[data-focus="true"] svg {
  color: #000;
}

.MultiSelectItemWrapper {
  display: flex;
  padding: 12px 0px 10px 0px;
  flex-wrap: wrap;
}

.time-pick {
  display: flex;
  position: absolute;
  top: 100%;
  max-height: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  transition: .2s;
}

.time-pick.time-show {
  max-height: 400px;
}

.time-wrap {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.time-wrap::-webkit-scrollbar {
  display: none;
}

.time-wrap p {
  cursor: pointer;
}

.time-wrap p:hover {
  background-color: #377de654;
}

.time-wrap p.active {
  background-color: #2f78e9;
  color: white;
}


