.Button {
  background-color: var(--primary-color);
  min-width: 100px;
  height: 2.4rem;
  border-radius: 4px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button.Secondary {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.Button.selected {
  background-color: var(--secondary-color);
}

.Button-label {
  margin-left: 8px;
}

.IconButton {
  background: none;
  padding-bottom: 0;
  color: grey;
  /* color: #113; */
}

.IconButton:hover {
  background: none;
  color: var(--accent-color);
}

.IconButton.inactive {
  color: silver;
  cursor: default;
}

.Button.inactive {
  color: grey;
  cursor: default;
  background-color: silver;
}

.IconButton.inactive:hover {
  background-color: white;
}

.Spinner {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.Filter {
  overflow: hidden;
  width: 100%;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 200px; */
  overflow-y: hidden; 
  margin-top: 4px;
  margin-bottom: 4px;
  /* width: calc(100% + 15px); */
  min-width: 200px;
}

.ListItem {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}

.ReactModalPortal .Input {
  width: 100%;
}

.MapForm {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.MapForm .Input {
  margin-left: 4px;
  margin-right: 4px;
}

.LabeledText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.Alert {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Alert .IconButton {
  color: var(--primary-color);
}

.Alert .IconButton:hover {
  color: var(--secondary-color);
}

.Tab {
  display: flex;
  margin-bottom: 16px;
  /* justify-content: center; */
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #f0f0f3;
}

.TabItem {
  cursor: pointer;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.TabItem-Text, .TabItem-Text-inactive {
  font-size: 1.2rem;
  background: none;
  color: #113;
}

.TabItem-Text-inactive {
  color: grey;
}

.TabIndicator {
  height: 2px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--primary-color);
}

.Logo {
  max-height: 200px;
}

.Group, .GroupActive {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
}

.Group:hover {
  background-color: var(--primary-color);
  color: white;
}

.GroupActive {
  background-color: var(--primary-color);
  color: white;
}

input[type="button"]:disabled {
  background-color: var(--gray);
  cursor: default;
}

.HighlightValue-Red {
  font-weight: bold;    
  color: var(--red);
}


