.Button {
  background-color: var(--primary-color);
  min-width: 100px;
  /* max-width: 100px; */
  min-height: 2.4rem;
  border-radius: 4px;
  margin: 4px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button.Secondary {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.Button.selected {
  background-color: var(--secondary-color);
}

.Button-label {
  margin-left: 8px;
}

.IconButton {
  background: none;
  padding-bottom: 0;
  color: grey;
  /* color: #113; */
}

.IconButton:hover {
  background: none;
  color: var(--accent-color);
}

.IconButton.inactive {
  color: silver;
  cursor: default;
}

.Button.inactive {
  color: grey;
  cursor: default;
  background-color: silver;
}

.IconButton.inactive:hover {
  background-color: white;
}

.Spinner {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.Filter {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.List {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* max-height: 200px; */
  overflow-y: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
  /* width: calc(100% + 15px); */
  min-width: 200px;
}

.ListItem {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}

.ListItem.load-more {
  border: none;
  outline: none;
}

.FullInput,
.ReactModalPortal .Input {
  width: 100%;
}

.MapForm {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.MapForm .Input {
  margin-left: 4px;
  margin-right: 4px;
}

.LabeledText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.Alert {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Alert .IconButton {
  color: var(--primary-color);
}

.Alert .IconButton:hover {
  color: var(--secondary-color);
}

.Tab {
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #f0f0f3;
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: white;
}

.TabItem {
  cursor: pointer;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.TabItem-Text,
.TabItem-Text-inactive {
  font-size: 1.2rem;
  background: none;
  color: #113;
}

.TabItem-Text-inactive {
  color: grey;
}

.TabIndicator {
  height: 2px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--primary-color);
}

.Logo {
  max-height: 200px;
}

.Group,
.GroupActive {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
  cursor: pointer;
}

.Group:hover {
  background-color: var(--primary-color);
  color: white;
}

.GroupActive {
  background-color: var(--primary-color);
  color: white;
}

input[type="button"]:disabled {
  background-color: var(--gray);
  cursor: default;
}

.HighlightValue-Red {
  font-weight: bold;
  color: var(--red);
}

.Breadcrumb {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 1.3rem;
  color: grey;
}

.search-input {
  position: relative;
}

.search-input input {
  width: 100%;
  padding-right: 2rem;
}

.search-input label {
  height: 100%;
  position: absolute;
  margin: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.search-input svg {
  font-size: 1.2rem;
  color: grey;
}

.custom-options {
  padding: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  top: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 19, 37, 0.116);
  margin-top: 0.6em;
  margin-bottom: 0;
  overflow: hidden;
  max-height: 0px;
  z-index: 3;
  transition: height 0.3s ease, max-height 0.3s ease;
}

.custom-options.to-down {
  overflow-y: auto;
  max-height: 200px;
  margin-bottom: 2em;
}

.no-list {
  list-style: none;
  text-transform: capitalize;
}

.selectable {
  cursor: pointer;
}

.no-list.selectable:hover {
  background-color: var(--accent-color);
  color: white;
}

.icon {
  position: absolute;
  right: 0.7em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  transition: 0.2s;
}

.icon.up {
  transform: rotate(180deg) translateY(50%);
}

.radio-boxes {
  position: relative;
  width: auto;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.068); */
  border: 1px solid #ced4da;
  border-radius: 6px;
  overflow: hidden;
}

.radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.3333%;
  border-radius: 4px;
  z-index: 1;
  transition: 0.4s cubic-bezier(0.54, 0.11, 0.07, 1.14);
}

/* .radio-indicator.emergency {
  background-color: #dc3545;
  left: 73%;
} */
.radio-indicator.high {
  background-color: #ffc107;
  left: 66.6666%;
}
.radio-indicator.normal {
  background-color: #28a745;
  left: 33.33333%;
}
.radio-indicator.low {
  background-color: #28a745;
  left: -1%;
}

@media only screen and (max-width: 575px) {
  .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.33333%;
    border-radius: 6px;
    z-index: 1;
    transition: 0.4s cubic-bezier(0.54, 0.11, 0.07, 1.14);
  }

  /* .radio-indicator.emergency {
    background-color: #dc3545;
    top: 0%;
    left: 0;
  } */
  .radio-indicator.high {
    background-color: #ffc107;
    top: 0%;
    left: 0;
  }
  .radio-indicator.normal {
    background-color: #28a745;
    top: 33.33333%;
    left: 0;
  }
  .radio-indicator.low {
    background-color: #28a745;
    top: 66.66666%;
    left: 0;
  }
}

.radio-box input {
  opacity: 0;
}

.radio-box label {
  margin: 0;
  position: relative;
  padding: 8px 12px;
  /* background-color: white; */
  cursor: pointer;
  min-width: 100px;
  text-transform: uppercase;
  color: rgba(0, 19, 37, 0.513);
  font-weight: bold;
  border-radius: 6px;
  transition: 0.4s;
  z-index: 2;
}

/* .radio-box label.emergency {
  background-color: #dc3545;
  color: white;
  transition: .1s;
} */
.radio-box label.high {
  /* background-color: #ffc107; */
  color: #212529;
  transition: 0.1s;
}
.radio-box label.normal {
  /* background-color: #28a745; */
  color: white;
  transition: 0.1s;
}
.radio-box label.low {
  /* background-color: #28a745; */
  color: white;
  transition: 0.1s;
}

.switch-box {
  width: 150px;
  height: 50px;
  position: relative;
}

.switch-box label {
  margin: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 0 #d8d8d8;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.1s;
}

.switch-box label:active {
  transform: translateY(4px);
  box-shadow: 0 0px 0 #d8d8d8;
}

.switch-box input {
  opacity: 0;
}

.switch-on label {
  background-color: #3a81ec;
  color: white;
  box-shadow: 0 4px 0 #bbbbbb;
}

.switch-off label {
  background-color: #c0c0c0;
  color: white;
}

.border-right-light {
  border-right: 0.9px solid rgba(255, 255, 255, 0.486);
}
