.Table {
  border-radius: 4px;
  /* background-color: white; */
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Table-content {
  position: relative;
  overflow: auto;
  border-top: 1px solid #f3f3fa;
  flex: 1;
}

.Table table {
  position: relative;
  z-index: 1;
}

.TableLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffc5;
  z-index: 2;
}

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.Container .Pagination,
.ReactModalPortal .Pagination {
  padding: 0;
  padding-top: 16px;
}

.Pagination-range {
  display: flex;
  align-items: center;
}

.Pagination-control {
  display: flex;
  align-items: center;
}

.SelectRange {
  margin-left: 8px;
  margin-right: 8px;
}

.PageControl {
  margin-left: 4px;
  margin-right: 4px;
}

.PageInfo {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  align-items: center;
}

.TableAction {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Container .TableAction,
.ReactModalPortal .TableAction {
  padding: 0;
  padding-bottom: 8px;
}

.TableAction-right {
  display: flex;
  /* align-items: center; */
}

.TableAction-right button {
  margin-right: 8px;
}

.TableHeader {
  display: flex;
  align-items: center;
}

.TableSearch input {
  padding: 6px;
}

.TableSearch .InputIcon {
  top: 6px;
}

.TableEmpty {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #f3f3fa;
  color: grey;
}

.SortIcon {
  margin-left: 8px;
}

.SelectActions {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 4px;
}

.SelectActions-toggle {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  height: 2.4rem;
  align-items: center;
  display: flex;
}

.SelectActions-options,
.SelectActions-options-hide {
  position: absolute;
  top: 36px;
  background-color: white;
  box-shadow: 0px 1px 4px grey;
  z-index: 99;
  /* width: 100%; */
  border-radius: 4px;
  transition: all 0.1s ease;
  height: auto;
  overflow: hidden;
}

.SelectActions-options-hide {
  height: 0;
}

.SelectActions-item {
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.SelectActions-item:hover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
}

.SelectedRow {
  background-color: #f0f0f3;
  /* background-color: var(--primary-yellow-color); */
}

.SubRowComponent {
  background-color: #f0f0f3;
  padding: 20px;
}

.selectable:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.048);
}

.AlignRight {
  text-align: right;
}

.More {
  padding: 8px;
  border-radius: 4px;
}

.More:hover {
  background-color: #f0f0f3;
}
