.Table {
  background-color: white;
  border-radius: 8px;
}

.Table-content {
  overflow: scroll;
}

.Table table {
  position: relative;
  z-index: 1;
}

.TableLoading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffaa;
}

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.Pagination-range {
  display: flex;
  align-items: center;
}

.Pagination-control {
  display: flex;
  align-items: center;
}

.SelectRange {
  margin-left: 8px;
  margin-right: 8px;
}

.PageControl {
  margin-left: 4px;
  margin-right: 4px;
}

.PageInfo {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  align-items: center;
}

.TableAction {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TableAction-right {
  display: flex;
  align-items: center;
}

.TableAction-right button {
  margin-right: 8px;
}

.TableHeader {
  display: flex;
  align-items: center;
}

.SortIcon {
  margin-left: 8px;
}