

.App {
  background-color: #f3f3fa;
  min-height: 100vh;
}

.Column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.Button {
  background-color: var(--primary-color);
  width: 120px;
  height: 40px;
  border-radius: 8px;
}

.TopBar {
  background-color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.MenuToggle {
  margin-left: 16px;
}

.Menu {
  background-color: white;
  width: 200px;
  padding-top: 72px;
}

.MenuItem {
  padding: 16px;
  display: flex;
  cursor: pointer;
}

.MenuItem:hover {
  background-color: var(--secondary-color);
}

.MenuItem-icon {
  margin-right: 16px;
}

.Content {
  min-height: 100vh;
}