.App {
  height: 100vh;
  overflow: scroll;
}

.Logo-main {
  width: 120px;
}

.Logo-main-small {
  width: 24px;
}

.Column {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.Title {
  font-size: 1.6rem;
}

.TopBar,
.TopBar-wide {
  /* background-color: white; */
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--accent-color) 100%
  );
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1); */
  z-index: 9;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding-left: 252px;
  transition: all 0.3s ease;
  color: white;
  height: 60px;
}

.TopBar-wide {
  padding-left: 80px;
}

.TopBar-left {
  display: flex;
  align-items: center;
}

.TopBar .IconButton,
.TopBar-wide .IconButton {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 4px;
  /* margin-right: 8px; */
}

.MenuToggle {
  margin-left: 8px;
  margin-bottom: 8px;
  color: white;
}

.PageTitle {
  margin-left: 12px;
  display: flex;
}

.Crumbs {
  cursor: pointer;
}

.Crumbs:hover {
  color: var(--accent-color);
}

.Menu {
  background-color: white;
  /* width: 240px; */
  /* padding-top: 108px; */
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  overflow-y: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Logo-container,
.Logo-container-small {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 108px;
  cursor: pointer;
}
/* 
.Logo-container-small {
  min-height: 80px;
} */

.MenuItem,
.MenuItem-active {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #afafcf;
  width: 240px;
  overflow: hidden;
  min-height: 48px;
  transition: all 0.3s ease;
}

.compact {
  width: 72px;
}

.MenuItem:hover,
.MenuItem-active:hover {
  background-color: var(--primary-color);
  overflow: visible;
  /* color: var(--primary-color); */
  color: white;
}

.MenuItem-active {
  /* background-color: var(--primary-color); */
  /* color: white; */
  color: var(--secondary-color);
  /* font-weight: bold; */
}

.MenuItem-icon {
  width: 72px;
  height: 1.4rem;
  /* margin-top: 2px; */
}

.MenuItem-label,
.MenuItem-label-hidden {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.MenuItem-label-hidden {
  padding-left: 20px;
  background-color: var(--accent-color);
  padding-right: 40px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.Submenu {
  width: 100%;
  box-sizing: border-box;
}

.SubmenuItem,
.SubmenuItem-active {
  padding: 8px;
  padding-left: 72px;
  color: #afafcf;
  cursor: pointer;
}

.SubmenuItem-active {
  color: var(--secondary-color);
}

.SubmenuItem:hover {
  color: white;
  background-color: var(--accent-color);
}

.Content,
.Content-wide {
  flex: 1;
  padding: 72px 24px 0 96px;
  /* padding-right: 8px;
  padding-top: 72px; */
  max-height: 100vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
  width: 100%;
  padding-left: 248px;
  display: flex;
  flex-direction: column;
}

.Content-wide {
  padding-left: 80px;
}

.box-self {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 42px 0px rgba(32, 91, 146, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Container {
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex: 1;
  /* margin-bottom: 32px;
  margin-right: 16px; */
  margin: 0 0 16px 16px;
  box-shadow: 0px 0px 42px 0px rgba(32, 91, 146, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* height: fit-content; */
  overflow: hidden;
  /* margin-top: 16px; */
}

.Details {
  flex: 1;
  margin: 0 16px;
}

.Photos {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hidden {
  display: none !important;
}

.ProfileButton {
  padding-right: 8px;
  padding-left: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ProfileButton:hover {
  background-color: var(--accent-color);
}

.ProfileButton-menu,
.ProfileButton-menu-hide {
  position: fixed;
  right: 16px;

  background-color: white;
  top: 60px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 4px grey;
  transition: all 0.1s ease;
  height: 0;
  overflow: hidden;
}

.ProfileButton-menu {
  height: auto;
  padding-bottom: 8px;
  padding-top: 8px;
}

.ProfileButton-menuItem {
  color: grey;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.ProfileButton-menuItem:hover {
  background-color: silver;
}

.Badge {
  position: relative;
  left: -12px;
  top: -8px;
  background-color: crimson;
  color: white;
  padding: 0 6px;
  border-radius: 50%;
}

.Toast {
  position: fixed;
  z-index: 100;
  right: 32px;
  bottom: 16px;
}

.NotificationModal {
  position: fixed !important;
  right: 0;
  height: 100vh;
  margin: 0 !important;
  width: 280px !important;
}

.modal-content {
  height: 100%;
}

.NotificationModal-title {
  font-size: large;
}

.NotificationModal-empty {
  margin-top: 32px;
  text-align: center;
  color: grey;
  /* background-color: red; */
}

.Settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding: 8px;
}

.Settings-item:hover {
  background-color: #f3f3fa;
}
