.App {
  min-height: 100vh;
  overflow: scroll;
}

.Title {
  font-size: 1.6rem;
}

.TopBar {
  background-color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.TopBar-left {
  display: flex;
  align-items: center;
}

.MenuToggle {
  margin-left: 12px;
}

.PageTitle {
  margin-left: 12px;
}

.Menu, .Menu-compact {
  background-color: white;
  width: 200px;
  padding-top: 72px;
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.Menu-compact {
  width: 68px;
}

.MenuItem,
.MenuItem-active {
  padding: 16px;
  padding-left: 24px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.MenuItem:hover,
.MenuItem-active {
  background-color: var(--accent-color);
}

.MenuItem-label {
  margin-left: 16px;
}

.Content, .Content-wide {
  flex: 1;
  padding: 16px;
  padding-top: 80px;
  padding-left: 224px;
  min-height: 100vh;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.Content-wide {
  padding-left: 92px;
}