:root {
  /* --primary-color: #999;
  --secondary-color: #bbb;
  --accent-color: #ddd; */
  --primary-color: #2f78e9;
  /* --primary-color: rgba(5, 83, 149, 1); */
  --secondary-color: rgba(0, 116, 255, 1);
  --accent-color: rgba(0, 197, 255, 1);
  font-size: 12px;
  font-family: "Lato", sans-serif;
  --background-color: #f3f3fa;
  background-color: #f3f3fa;
  /* background-color: rgba(245, 245, 245, 1); */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  margin: 4px;
  margin-left: 0;
}

p, a {
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
}

a {
  /* text-decoration: none; */
  color: black;
}

button {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

input,
textarea {
  padding: 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 0.5px;
  border-color: silver;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type="button"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

input[type="file"] {
  border: none;
  padding: 4px;
  margin-left: 12px;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

table {
  width: 100%;
  background-color: white;
  border-spacing: 0;
}

thead {
  background-color: #f0f0f3;
}

th {
  padding: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 16px;
  text-align: left;
}

td {
  border-bottom: 1px solid #f3f3fa;
  padding: 8px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
}

th:last-child,
td:last-child {
  border-right: 0;
}
